fastapi
pydantic-settings
uvicorn[standard]
pydantic[email]
sqlalchemy[asyncio]
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
websockets
scikit-learn
pandas
numpy
aiosqlite
httpx
